---
layout: default
---

<section class="section">
	<div class="container content has-text-centered top-space bottom-space">
		<h2 class="title is-2">
			404!
		</h2>
		<p>
			we can't find this page, sorry!
		</p>
		<a href="index.html">
			<button class="button nav-cta">
				back to the homepage
			</button>
		</a>
	</div>
</section>