---
layout: default
---

<section class="hero hero-bg is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">
            Ceperchitia quias alit
          </h1>
          <a href="#register">
            <button class="button hero-cta is-large">
              Register now.
            </button>
          </a>
        </div>
      </div>
    </section>


    <section class="section green-mist">
      <div class="container">
        <div class="columns top-space">
          <div class="column content column-left">
            <h2 class="title is-2">
              Ed utem estrum voluptas rae od molorit, quatias ditis sit.
            </h2>
            <div class="accent-wrapper">
              <figure class="image">
                <img src="../media/svg/accent.svg">
              </figure>
            </div>
          </div>
          <div class="column content column-right bottom-space">
            <p>
              Sequos quia di nis et eos as comnis earuntest qui doluptur, quo molupta tatendus nobis elendis nit debit opta enempor magnis por re et et volupic illorep electo qui oditatqui velentur?
            </p>
            <p>
              Dis eostint oditati asincide voluptati comnihi ciduciume ra di renis es ped quaspelia nem ellibus dolor adigenes es autatur am quis il moloreh entius sum et volupic tem rersperum dolorepe sinctecus, tem audam qui con nita consequ iscipid ebisitium nos sed quidus, ut quid ut ut que conse et magnat.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="section green-mist">
      <div class="container">
        <div class="columns bottom-space">
          <div class="column content column-left">
          </div>
          <div class="column content column-right">
            <h3 class="title is-3">
              Register your interest
            </h3>
            <form name="register" method="POST" action="/success" data-netlify="true">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" name="name" placeholder="Name">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input" type="text" name="lastname" placeholder="Last Name">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input" type="tel" name="phone" placeholder="Phone">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input" type="email" name="email" placeholder="Email">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button type="submit" class="button submit-button">
                    Submit
                    <figure class="image submit-arrow">
                      <img src="../media/svg/arrow-right.svg" alt="">
                    </figure>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Cake section -->
    <section class="section">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column is-one-quarter">
            </div>
            <div class="column column-left top-space content">
              <h2 class="title is-2">
                Luptaten tisquid maionseque nemquidem inus
              </h2>
              <p>
                Urepudis nobis a ipit veria volor accatus ad quam quate sequi berro experum unt facesent.
              </p>
              <p>
                Quidebis es sinctem as dento dolores recto cone velicius, omni occab ipsum es aborpore volorem quidignam quia de prem fugit.
              </p>
              <p>
                Volo essit que non es quam aut eturit endae audanimus doluptas alitat latem cullore reptur aut opta soluptatur, invendestiis nonestia cullecabor aut apid minctiori doluptae niscimet.
              </p>
            </div>
          </div>
        </div>
        <div class="column cake is-two-fifths">
        </div>
      </div>
    </section>

    <section class="section leaves">
      <div class="container">
        <div class="columns top-space bottom-space">
          <div class="column content column-left">
            <h2 class="title is-2">
              Volupici quam et volorei cilluptur
            </h2>
          </div>
          <div class="column content column-right">
            <p>
              Quidis et minullo rescitias acium ex estionsequam es comnis eum necatatum alitatinte prehenihit laudanda.
            </p>
            <p>
              Sunt lacidundemos et parchil lessum as dolupta tionse qui qui officta tempos eniatatur.
            </p>
            <p>
              Beribus se eum nonsequam, cum denes et est quas dolupti orrumquodis ratem fugiae mos rae ent int venem quatem qui ditatur.
            </p>
            <p>
              Tem excerem rem sam explaceat quo dolorectus. Tem velici siminctes estiur re pro bea ea non repudi.
            </p>
            <a href="#register">
              <button class="button body-cta">
                Register now
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="section map">
      <div class="container">
        <div class="columns top-space bottom-space">
          <div class="column content column-left">
            <h2 class="title is-2">
              Volupici quam et volorei cilluptur
            </h2>
            <p>
              Gendaest, optae porum fuga. La doluptatia cus quam veliquiberro inverfe rorent.
            </p>
            <p>
              Ed et magnis everia velibus dandelitiae plabora nonsed molecaeste re volorerum inum que estis mint rescien diasitiasi aut eatemque cus dolorehenis autatibea vitibus sit quiduntem nulpa corrore peribus, nimod ma voloremo to quam aut.
            </p>
          </div>
          <div class="column column-right">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="columns">
        <div class="column flowers is-two-fifths">
        </div>
        <div class="column column-right column-left top-space flowers-content">
          <div class="content">
            <h2 class="title is-2">
              Luptaten tisquid maionseque nemquidem inus
            </h2>
          </div>
          <div class="columns">
            <div class="column content">
              <p>
                <strong>Boutique community</strong>
                </br>
                Git faceper itiaepe adiorro et exerrovita debit inis dolorem qui recearc iasimusant.
              </p>
              <p>
                <strong>Lots to choose from</strong>
                </br>
                Git faceper itiaepe adiorro et exerrovita debit inis dolorem qui recearc iasimusant.
              </p>
              <p>
                <strong>Room to move</strong>
                </br>
                Git faceper itiaepe adiorro et exerrovita debit inis dolorem qui recearc iasimusant.
              </p>
              <p>
                <strong>Nature in the neighbourhood</strong>
                </br>
                Git faceper itiaepe adiorro et exerrovita debit inis dolorem qui recearc iasimusant.
              </p>
              <p>
                <strong>Safe and secure</strong>
                </br>
                Git faceper itiaepe adiorro et exerrovita debit inis dolorem qui recearc iasimusant.
              </p>
            </div>
            <div class="column content">
              <p>
                <strong>Choice of schools</strong>
                </br>
                Git faceper itiaepe adiorro et exerrovita debit inis dolorem qui recearc iasimusant.
              </p>
              <p>
                <strong>Get there fast</strong>
                </br>
                Git faceper itiaepe adiorro et exerrovita debit inis dolorem qui recearc iasimusant.
              </p>
              <p>
                <strong>Close to everything you need</strong>
                </br>
                Git faceper itiaepe adiorro et exerrovita debit inis dolorem qui recearc iasimusant.
              </p>
              <p>
                <strong>On the right side of the tracks</strong>
                </br>
                Git faceper itiaepe adiorro et exerrovita debit inis dolorem qui recearc iasimusant.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="register">
      <div class="container">
        <div class="columns top-space bottom-space">
          <div class="column content column-left">
            <h2 class="title is-2">
              The Grove int eium, quassitae conseni
            </h2>
            <p>
              Quid ulpa nitinum voluptati dolum re dem remodi digent quid que et fugitium eum aut qui commodigenis conse ipitet milicie ndiscimusae. Deris maios reic tem quodigeni core niatati oriatiis minimossi optur, offictam
            </p>
          </div>
          <div class="column content column-right">
            <h3 class="title is-3">
              Register your interest
            </h3>
            <form name="register" method="POST" action="/success" data-netlify="true">
              <div class="field">
                <div class="control">
                  <input class="input" type="text" name="name" placeholder="Name">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input" type="text" name="lastname" placeholder="Last Name">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input" type="tel" name="phone" placeholder="Phone">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input" type="email" name="email" placeholder="Email">
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button type="submit" class="button submit-button">
                    Submit
                    <figure class="image submit-arrow">
                      <img src="../media/svg/arrow-right.svg" alt="">
                    </figure>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </section>