/*
==============================
style.css contents
- Fonts
- Body
- Navbar
- Hero
- First section
- Cake section
- Leaves section
- Map section
- Flowers section
- Form
- Footer
==============================
*/

/* Fonts */
@font-face {
  font-family: Minion Pro;
  src: url("media/fonts/MinionPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: Gilroy;
  src: url("media/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 900;
}

@font-face {
  font-family: Gilroy;
  src: url("media/fonts/Radomir Tinkov - Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: Gilroy;
  src: url("media/fonts/Radomir Tinkov - Gilroy-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url("media/fonts/Radomir Tinkov - Gilroy-Regular.otf") format("opentype");
  font-weight: 400;
}

/* Body */
* {
  font-family: Gilroy;
  color: #000;
}

strong {
  color: #000;
}

h1 {
  font-family: Gilroy;
  font-weight: 900 !important;
  color: #000;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Gilroy;
  font-weight: 700 !important;
  color: #000 !important;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.body-cta {
  color: #000;
  background: none;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 0;
  font-weight: bold;
  transition: all 0.2s ease-in;
  padding-left: 0;
  padding-right: 0;
}

.body-cta:hover {
  color: #000;
  background: none;
  border-bottom: 2px solid #000;
  padding-right: 2em;
}

@media (min-width: 769px) {
  .column-left {
    padding-right: 7rem;
  }

  .column-right {
    padding-left: 7rem;
  }

  .top-space {
    padding-top: 7rem;
  }

  .bottom-space {
    padding-bottom: 7rem;
  }

  .section {
    padding: 0.7rem 0rem;
  }
}

/* Navbar */
.navbar a {
  color: #000;
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
  align-items: stretch;
  display: flex;
  padding: 0;
}

.navbar-menu {
  flex-grow: 1;
  flex-shrink: 0;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}

.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}

.logo-text {
  font-weight: 900 !important;
}

.nav-sticky {
  position: fixed;
}

.nav-cta {
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 0;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  transition: all 0.2s ease-in;
  color: #000;
}

.nav-cta:hover {
  color: #000;
  border: 1px solid #000;
}

@media (max-width: 460px) {
  .nav-cta {
    display: none;
  }
}

/* Hero */
.hero-bg {
  background-image: url(media/jpg/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-body h1 {
  color: #fff;
}

.hero-cta {
  color: #fff;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0;
  font-weight: bold;
  transition: all 0.2s ease-in;
  padding: 0;
}

.hero-cta:hover {
  color: #fff;
  background: none;
  border-bottom: 2px solid #fff;
  padding-left: 1em;
  padding-right: 1em;
}

/* First section */
.green-mist {
  background: #C2C6A0;
}

.accent-wrapper {
  width: 10em;
  margin-left: -2em;
  margin-top: 3em;
}

/* Cake section */
.cake {
  background-image: url(media/jpg/cake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 80vh;
}

/* Leaves section */
.leaves {
  background-image: url(media/jpg/leaves.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

/* Map section */
.map {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%), url(media/svg/map.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  min-height: 80vh;
}

/* Flower section */
.flowers {
  background-image: url(media/jpg/flowers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.flowers-content {
  background: #F9E5E2;
}

/* Form */
.submit-button {
  background: none;
  border: none;
  transition: all 0.2s ease;
  color: #000;
}

.submit-button:hover {
  color: #000;
  background: hsl(0, 0%, 86%);
}

.submit-arrow {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
  transition: all 0.2s ease-in;
}

.submit-button:hover .submit-arrow {
  margin-left: 2em !important;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  color: #000;
  box-shadow: none !important;
  padding-left: 12px;
  padding-right: 12px;
  size:
}

.input::placeholder {
  color: #000;
  font-weight: lighter;
}

/* Footer */
.footer a {
  color: #000;
}

.footer-logo-wrapper {
  width: 40px;
}

@media (min-width: 769px) {
  .footer-logo-wrapper {
    margin-right: 50px;
  }

  .footer-item-1 {
    margin-right: 20px;
  }
}