<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title populated by jekyll front matter -->
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">
    <!-- Bulma stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="../style.css">
    <script type="text/javascript" src="../main.js"></script>
  </head>

  <body>

    <!-- Navbar -->
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-brand">
            <div class="navbar-item">
              <a href="#" class="title is-4 logo-text">
                The Grove.
              </a>
            </div>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="tel:1300111222">
                <strong>
                1300 111 222
              </strong>
              </a>
            </div>
            <div class="navbar-item">
              <a href="#register">
                <button class="button nav-cta">
                  Register now
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    {{ content }}

    <footer class="footer">
      <div class="container level">
        <div class="level-left">
          <div class="level-item">
            <div class="footer-logo-wrapper">
              <figure class="image">
                <img src="../media/svg/footer-logo.svg" alt="">
              </figure>
            </div>
          </div>
          <div class="level-item has-text-centered is-size-7">
            <a href="#" class="footer-item-1">
              Privacy Policy
            </a>
          </div>
          <div class="level-item has-text-centered is-size-7">
            <a href="#">
              Due Diligence
            </a>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <a href="#">
              <figure class="image">
                <img src="../media/svg/facebook.svg" alt="">
              </figure>
            </a>
          </div>
          <div class="level-item">
            <a href="#">
              <figure class="image">
                <img src="../media/svg/instagram.svg" alt="">
              </figure>
            </a>
          </div>
        </div>
      </div>
    </footer>

    <script src="main.js"></script>

  </body>

</html>